.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #f5611a;
    color: white;
    text-align: center;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.footerLogo {
    display: flex;
    align-items: center;
}

.footerLogo img {
    width: 23px;
    height: auto;
}

.footerLogo h3 {
    margin-left: 10px;
    font-size: 18px;
}

.footerCopyright {
    margin-top: 5px;
    font-size: 14px;
}

.subRight {
    font-size: 12px;
}

.footerVersion {
    display: flex;
    align-items: center;
}

.VersionName sub {
    margin-left: 5px;
}

/* Додатковий стиль для центрування версії */
.VersionName {
    display: flex;
    justify-content: center;
    align-items: center;
}
