body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin-left: -42px;
}

/* Додайте медіа-запит для адаптації до пристроїв з меншою шириною екрану */
@media screen and (max-width: 768px) {
  body {
    font-size: 8px; /* Зменште розмір шрифту для менших екранів */
  }

  ul {
    margin-left: 0; /* Зменште відступ для менших екранів або використовуйте відсотки */
  }
}

/* Додайте інші медіа-запити за потребою для інших адаптацій */
